* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: black;
    color: white;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight:900;
}

p {
    font-size: 20px;
    font-weight: normal;
}
.topnav {
    display: inline-flex;
    flex-wrap: wrap;
    background-color:black;
    overflow: hidden;
    margin-left: 70%;
}

.topnav a {
    float:inline-end;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: rgb(217, 224, 224);
    color: black;
    border-radius: 20%;
}

.title {
    display: inline-flex;
    flex-wrap: wrap;
    float: inline-start;
}

.headshot {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    margin: 0px 25px 0px 25px;
}

.name {
    justify-content: center;
    padding-top: 25px;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 20%;
    border-top: 10px;
    border-bottom: 1px;
    border-style:ridge;
    border-image-source: linear-gradient(360deg, rgb(235, 240, 239), rgb(15, 15, 15));
    border-image-slice: 1; 
}

.primary {
    display: flex;
    flex-wrap: wrap;
}

#about_me {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 35px;
    text-align: justify;
    padding: 30px;
    border: 5px;
    border-style:ridge;
    border-image-source: linear-gradient(360deg, rgb(235, 240, 239), rgb(15, 15, 15));
    border-image-slice: 1; 
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-around;
    margin-left: 300px;
}

.work {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-width: 10px;
    border-color: grey;
    border-radius: 10%;
    

}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.mbox1 {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    border-style: solid;
    border-color: rgb(71, 68, 68);
    border-width: 3px;
    border-radius: 3%;
}

.mbox1 a {
    position: absolute;
    bottom: 100px;
}